
<div style="text-align:center">
  <h1>
    Welcome to Association!
  </h1>
  </div>

<div>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item>1</button>
  <button mat-menu-item>2</button>
  <button mat-menu-item>3</button>
  <button mat-menu-item>4</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Groups</button>
<router-outlet></router-outlet>
</div>

<div>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
  <mat-label>Group Name</mat-label>
  <input matInput required>
</mat-form-field>
</div>

<div>
<button mat-raised-button>Play</button>
</div>